<div class="row">
  <div class="twelve columns">
    <h1>Listing users</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Admin</th>
          <th>Week1</th>
          <th>Week2</th>
          <th>Week3</th>
          <th>Week4</th>
          <th>Week5</th>
          <th>Week6</th>
          <th>Week7</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.admin %></td>
            <td><%= user.week1available %></td>
            <td><%= user.week2available %></td>
            <td><%= user.week3available %></td>
            <td><%= user.week4available %></td>
            <td><%= user.week5available %></td>
            <td><%= user.week6available %></td>
            <td><%= user.week7available %></td>
            
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New User', new_user_path %>
  </div>
</div>
